.container
  .row
    .col-md-12
      %h3.text-center= @user.email
      %p.text-center
        Someone has requested a link to change your password, and you can do this through the link below.
      .text-center
        %button.large.expanded= link_to "Change my password", edit_password_url(@user, reset_password_token: @token)
      %p.text-center
        Your password won't change until you access the link above and create a new one.